@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&family=Source+Sans+Pro:ital,wght@1,600&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
}

body {
    font-family: 'Roboto Mono', monospace;
    margin: 40px;
    color:rgba(66, 66, 66, 0.856);
    background: rgba(66, 66, 66, 0.856);
  }

  .header {
  padding: 0.1px;
  text-align: center;
  background: rgba(43, 42, 42, 0.856);
  color: rgb(196, 196, 196);
  font-size: 20px;
  line-height: 1;
  }


  .content {
    padding: 40px;
    padding-top: 17vh;
    line-height: 1.45;
    color: rgb(196, 196, 196);
    font-size: x-large;
}

.submit {
    font-size: x-large;
    width: 130px;
    height: 60px;
    border: none;
    color: rgb(196, 196, 196);
    background-color: rgba(66, 66, 66, 0.856);
    border-radius: 12px;
    box-shadow: 0 5px rgb(54, 54, 54);
    transition: ease-out 0.3s;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    outline: none;
    letter-spacing: 3px;
    position: relative;
    top: 1vh;
    
 
}
  
  .submit:active {
    background-color: rgba(66, 66, 66, 0.856);
    box-shadow: 0 5px rgb(196, 196, 196);
    transform: translateY(4px);
  }


.submit:hover {
    box-shadow: inset 300px 0 0 0 rgb(54, 54, 54);
    background-color: rgba(66, 66, 66, 0.856)
}

body {
    text-align: center;
    color:rgba(66, 66, 66, 0.856)
    
}

@keyframes fade-in-text {
    0%    { opacity: 0; }
    10%    { opacity: 0; }
    86%   { opacity: 1; }
    
  }

  .content {
    animation: fade-in-text 3s ;
  }

@keyframes fade-in-button {
    0%     { opacity: 0; }
    50%    { opacity: 0; }
    90%   { opacity: 1; }
    
  }

  .submit {
    animation: fade-in-button 6s ;
    
  }


  