@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&family=Source+Sans+Pro:ital,wght@1,600&display=swap');

*{
    font-family: 'Roboto Mono', monospace;
    /* font-size: x-large; */

}

.header {
    padding: 0.1px;
    padding-top: 5px;
    padding-left: 20px;
    text-align: left;
    background: rgba(29, 28, 28, 0.856);
    color: rgb(182, 181, 181);
    font-size: xx-small;
    line-height: .5;
    
    }


.leftside, .rightside {
    height: 100vh;
    width: 100%;
    font-size: x-large;
    
}


@media screen and (min-width:768px) {

    .leftside, .rightside {
        height: 100vh;
        font-size: x-large;
    }

}

.leftside h5 {
    font-size: xx-large
}

.rightside h5 {
    font-size: xx-large
}

.leftside {
    text-align: center;
    padding: 20px;
    color: rgb(226, 225, 225);
    align-items: center;
    background-color: rgba(66, 66, 66, 0.856);
    

}
.rightside{
    text-align: center;
    padding: 20px;
    color:rgba(90, 90, 90, 0.856);
    align-items: center;
    background-color:rgb(233, 233, 233)
    
}

@keyframes fade-in-left {
    0%     { opacity: 0; }
    12%    { opacity: 0; }
    86%   { opacity: 1; }
    /* 80%   { opacity: 0; }
    100%  { opacity: 1; } */
  }

@keyframes fade-in-right {
    0%     { opacity: 0; }
    35%    { opacity: 0; }
    100%   { opacity: 1; }
    /* 80%   { opacity: 0; }
    100%  { opacity: 1; } */
  }
  
  .leftside h5{
    animation: fade-in-left 3s ;
  }

  .rightside h5{
    animation: fade-in-right 4s ;
  }
