@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&family=Source+Sans+Pro:ital,wght@1,600&display=swap');

*{
    font-family: 'Roboto Mono', monospace;


}

.header {
    padding: 0.1px;
    padding-top: 5px;
    padding-left: 20px;
    text-align: left;
    background: rgba(29, 28, 28, 0.856);
    color: rgb(255, 250, 250);
    font-size: xxx-small;
    line-height: .5;
    
    }


.leftside, .rightside {
    height: 10000px;
    width: 100%;
    font-size: x-large;
    
}


@media screen and (min-width:768px) {

    .leftside, .rightside {
        height: 86vh;
        font-size: x-large;
    }

}

.leftside h5 {
    font-size: xx-large
}

.rightside h5 {
    font-size: xx-large
}

.leftside {
    text-align: center;
    padding: 20px;
    color: rgb(226, 225, 225);
    align-items: center;
    background-color: rgba(66, 66, 66, 0.856);
    

}
.rightside{
    text-align: center;
    padding: 20px;
    color:rgba(90, 90, 90, 0.856);
    align-items: center;
    background-color:rgb(233, 233, 233)
    
}

@keyframes fade-in-left {
    0%     { opacity: 0; }
    12%    { opacity: 0; }
    86%   { opacity: 1; }

  }

@keyframes fade-in-right {
    0%     { opacity: 0; }
    35%    { opacity: 0; }
    100%   { opacity: 1; }

  }
  
  @keyframes fade-in-button {
    0%     { opacity: 0; }
    60%    { opacity: 0; }
    100%   { opacity: 1; }

  }

  .leftside h5{
    animation: fade-in-left 3s ;
  }

  .rightside h5{
    animation: fade-in-right 4s ;
  }

  .return{
    animation: fade-in-button 4s ;
  }

  .yourCourses{
    animation: fade-in-left 4s;
  }

  .nextCourses{
    animation: fade-in-right 5s;
  }

  .return {
      
    font-size: small;
    width: 295px;
    height: 51px;
    border: none;
    color: rgb(240, 238, 238);
    background-color: rgba(41, 41, 41, 0.856);
    border-radius: 12px;
    box-shadow: 0 5px rgb(46, 46, 46);
    transition: ease-out 0.3s;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.4rem;
    
    outline: none;
    letter-spacing: 3px;
    position: relative;
    top: 1vh;
    cursor: pointer;
    user-select: none;
    
 
}
  
  .return:active {
    background-color: rgba(37, 37, 37, 0.856);
    box-shadow: 0 5px rgb(196, 196, 196);
    transform: translateY(4px);
  }


  .return:hover {
    box-shadow: inset 300px 0 0 0 rgb(100, 100, 100);
    background-color: rgba(133, 132, 132, 0.856)
}

form{
    text-align: right;
    padding-bottom: 30px;
    padding-right: 10px;
}


body{
  background-color: gray



}



