@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&family=Source+Sans+Pro:ital,wght@1,600&display=swap');

* {
    margin: 0px;
    font-family: 'Roboto Mono', monospace;
}

h2 {
    margin: 16px;
    color: rgb(196, 196, 196);
}

h1 {
    margin-top: 10vh;
    text-align: center;
    color: rgb(248, 244, 244);
}

.container {
    margin-top: 10px;
    padding: 32px;
    text-align: center;
}

.select-box {
    display: inline-block;
    width: 400px;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    
}

.select-box .options-container {
    background: #828a92;
    color: white;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;

    order: 1;
}

.selected {
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: rgb(196, 196, 196);
    position: relative;

    order: 0;
}

.select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
    
}

.select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: rgb(31, 34, 48);
    border-radius: 0 8px 8px 0;
    
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: #a5a5a7;
    border-radius: 0 8px 8px 0;
}

.select-box .option, 
.selected {
    padding: 12px 24px;
    cursor: pointer;
}

.select-box label {
    cursor: pointer;
}

.select-box .option:hover {
    background: lightgrey;
}

.select-box .option .radio {
    display: none;
}

/* ----- */

.select-box2 {
    position: absolute;
    margin: auto;
    display: flex;
    width: 400px;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
}

.select-box2 .options-container2 {
    background: #828a92;
    color: white;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;

    order: 1;
}

.selected2 {
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: rgb(196, 196, 196);
    position: relative;

    order: 0;
}

.select-box2 .options-container2.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
    margin-top: 54 px;

}

.select-box2 .options-container2::-webkit-scrollbar {
    width: 8px;
    background: rgb(37, 41, 53);
    border-radius: 0 8px 8px 0;
}

.select-box2 .options-container2::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
}

.select-box2 .option2, 
.selected2 {
    padding: 12px 24px;
    cursor: pointer;
}

.select-box2 label {
    cursor: pointer;
}

.select-box2 .option2:hover {
    background: lightgrey;
}

.select-box2 .option2 .radio {
    display: none;
}
/* ----- */


body {
    height: 100vh;
    /* text-align: center; */
    background: rgba(43, 42, 42, 0.856);
    ;
    text-align: center;
}

.selected ,
.selected2 {
    position: relative;
}


.button {
    display: inline-flex;
    padding: 10 px;
    background:grey;
    border: none;
    outline: none;
    border-radius: 10 px;
    overflow: hidden;
    font-size: 16;
    font-weight: 500;
    

    
}

.container, .courses {
    position: relative;
}

.courses{
    text-align: center;
}

form{
    text-align: center;
}













