@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,600&display=swap');

* {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

h2 {
    margin: 16px;
}

h1 {
    margin-top: 5vh;
    text-align: center;
}

.container {
    margin-top: 10px;
    padding: 32px;
   
}

.select-box {
    display: flex;
    width: 400px;
    flex-direction: column;
    position: relative;
}

.select-box .options-container {
    background: #2f3640;
    color: white;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;

    order: 1;
}

.selected {
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: white;
    position: relative;

    order: 0;
}

.select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: black;
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
}

.select-box .option, 
.selected {
    padding: 12px 24px;
    cursor: pointer;
}

.select-box label {
    cursor: pointer;
}

.select-box .option:hover {
    background: lightgrey;
}

.select-box .option .radio {
    display: none;
}

/* ----- */

.select-box2 {
    display: flex;
    width: 400px;
    flex-direction: column;
    position: relative;
}

.select-box2 .options-container2 {
    background: #2f3640;
    color: white;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;

    order: 1;
}

.selected2 {
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: white;
    position: relative;

    order: 0;
}

.select-box2 .options-container2.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box2 .options-container2::-webkit-scrollbar {
    width: 8px;
    background: black;
    border-radius: 0 8px 8px 0;
}

.select-box2 .options-container2::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
}

.select-box2 .option2, 
.selected2 {
    padding: 12px 24px;
    cursor: pointer;
}

.select-box2 label {
    cursor: pointer;
}

.select-box2 .option2:hover {
    background: lightgrey;
}

.select-box2 .option2 .radio {
    display: none;
}
/* ----- */


body {
    height: 100vh;
    /* text-align: center; */
    background-color: white;
   
  

}

/* .dropdown-course{
    height: 30vh;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;


}
.subject,
.course {
    position: relative;
}


.subject ul,
.course ul{
    position: absolute;
    background-color: grey;
    margin-top: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    list-style: none;
    border-radius: 5px;
    opacity:0;
    pointer-events: none;
    transform: translateY(10px);
    transition: all 0.4s ease;
    
}

.subject a, .course a {
    color: black;
    text-decoration: none;

}

.dropdown-course button{
    background: none;
    border:none;
    border-radius: none;
    color: black;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;

}

.dropdown-course button:hover {
    color: lightgray;
}





.subject li,
.course li {
   
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.subject li:hover,
.course li:hover{
    background: pink;
}

.subject button:focus + ul,
.course button:focus +ul{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}
 */










